<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <display-name>ITServiceFlow</display-name>
    <servlet>
        <servlet-name>ServiceCatalogServlet</servlet-name>
        <servlet-class>com.itserviceflow.controllers.ServiceCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServiceServlet</servlet-name>
        <servlet-class>com.itserviceflow.controllers.AdminServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <servlet-class>com.itserviceflow.controllers.ServiceRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceRequestManageServlet</servlet-name>
        <servlet-class>com.itserviceflow.controllers.ServiceRequestManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceCatalogServlet</servlet-name>
        <url-pattern>/service-catalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServiceServlet</servlet-name>
        <url-pattern>/admin-services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceRequestServlet</servlet-name>
        <url-pattern>/service-request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceRequestManageServlet</servlet-name>
        <url-pattern>/service-request-manage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- Charset filter -->
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.itserviceflow.filters.CharsetFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
